.ocultar-elementos
    display none !important 
.alturas-imagenes
    height 10rem
.estilos-contnedor-imagen
    position absolute
    z-index -2
.fondo-formulario
    background rgba(255,255,255,0.8)
.placeholder
    &::placeholder
        color black